
	<meta charset="utf-8">
	<title>StickMan</title>
	<link rel="shortcut icon" href="../resources/icon/favicon.ico">
	<link rel="stylesheet" href="../resources/css/style.css">
	<link rel="stylesheet" href="../resources/css/slideshow.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	<script src="../resources/js/slideshow.js"></script>
	<script src="../resources/js/functions.js"></script>
	<script src="../resources/js/ajax.js"></script>
